# Requirements for building docs
#
# Install the documentation requirements with:
#     pip install -r docs/requirements.txt
#
sphinx>=4.0
numpy
scipy
matplotlib
pandas
h5py
ipython
notebook
sphinx-toggleprompt
sphinx-copybutton
pygments
