# Requirements for building docs
#
# Install the documentation requirements with:
#     pip install -r docs/requirements.txt
#
sphinx
numpy
scipy
matplotlib
pandas
ipython
notebook
sphinx-toggleprompt
sphinx-copybutton
